extends ../components/template.pug
append header 
  - var selected = "Информация";
  include ../components/header.pug
block content
    h1.market-header Рынок акций

    img.market-image(src="https://finbi.ru/uploads/replaces/xd329dbb2184961def36715159d2e86a9.jpg.pagespeed.ic.vpInJFudFw.jpg", height='250px')

    p.market-description
    | Ры́нок це́нных бума́г, фо́ндовый ры́нок (англ. securities market, англ. stock market, англ. equity market) — совокупность экономических отношений по поводу выпуска и обращения ценных бумаг между его участниками.
    