


block variables 

html
    head
        block head
        title DNS акции
        <meta name="viewport" content="width=device-width, initial-scale=1">.
    body
        block header
            include header.pug
        block content

        block footer 
            include footer.pug
